<!doctype html>
<html lang="en">
  <!-- A Intro to Coding for Journalists class project -->
  <head>
    <title>Pirate Cove | {% block page_title %}Default title{% endblock %}</title>
    <meta name="description" content="{% block page_description %}Default description{% endblock %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ relative_path }}css/main.css">
  </head>
  <body>
    {% include "_includes/nav.njk" %}

    {% include "_includes/jumbotron.njk" %}

    {% block content %}{% endblock %}

    {% include "_includes/footer.njk" %}

    <script src="{{ relative_path }}js/jquery.js"></script>
    <script src="{{ relative_path }}js/popper.js"></script>
    <script src="{{ relative_path }}js/bootstrap.js"></script>
    <script src="{{ relative_path }}js/scripts.js"></script>
  </body>
</html>